body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 200px;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid gray;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
}

.card h3 {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.card img {
  width: 200px;
  background-color: gainsboro;
  border-radius: 10%;
}

.card p {
  padding-left: 10px;
}

.card ul {
  list-style-position: inside;
  padding-left: 10px;
}
